/* --------------------------------------------------------------
Style géneral 
-----------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

.badge-revision {
    margin-left: -17px;
}

.grow-side-bar {
    min-width: 250px;
}

.reduce-side-bar {
    min-width: 57px;
    max-width: 69px !important;
    padding: 0.25em !important;
}

.reduce-side-bar .badge-revision {
    position: absolute;
    top: -5px;
    right: -7px;
}

.reduce-margin-icon-side-bar-ul .reduce-margin-icon-side-bar {
    margin: 0 !important;
}

@media screen and (max-width:500px) {
    .p-reduce {
        padding: 10px !important;
    }
}

@media screen and (min-width:1px) {
    .button-menu {
        display: block !important;
    }
}

.spinner-border.slow{
    animation-duration: 1s;
}
/* --------------------------------------------------------------
                                Barre de scroll 
-----------------------------------------------------------------*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:white;
}
::-webkit-scrollbar-thumb{
    margin-top: 200px;
    background: #0d6efd;
    border-radius: 15px;
}

/* --------------------------------------------------------------
                                Quill.js 
-----------------------------------------------------------------*/

.big-quill .ql-toolbar {
    border-radius: 8px 8px 0 0;
    border-top: rgb(126, 126, 126) 1px solid !important;
    border-left: rgb(126, 126, 126) 1px solid !important;
    border-right: rgb(126, 126, 126) 1px solid !important;
}

.big-quill .ql-container {
    border-radius: 0 0 8px 8px;
    min-height: 300px;
    border-top: rgb(126, 126, 126) 1px solid !important;
    border-bottom: rgb(126, 126, 126) 1px solid !important;
    border-left: rgb(126, 126, 126) 1px solid !important;
    border-right: rgb(126, 126, 126) 1px solid !important;
}




.hide-quill .masking-quill .ql-toolbar.ql-snow {
    display: none;
}
.hide-quill .masking-quill .ql-container.ql-snow {
    border-radius: 8px;
    border: rgb(126, 126, 126) 1px solid !important;
}




.quill-error.masking-quill .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0 0;
    border-top: rgb(243, 49, 49) 1px solid !important;
    border-left: rgb(243, 49, 49) 1px solid !important;
    border-right: rgb(243, 49, 49) 1px solid !important;
}
.quill-error.masking-quill .ql-container.ql-snow {
    border-radius: 0 0 8px 8px;
    border-top: rgb(243, 49, 49) 1px solid !important;
    border-bottom: rgb(243, 49, 49) 1px solid !important;
    border-left: rgb(243, 49, 49) 1px solid !important;
    border-right: rgb(243, 49, 49) 1px solid !important;
}
.small-quill .quill-error.masking-quill .ql-container.ql-snow {
    border-radius: 8px;
    border: rgb(243, 49, 49) 1px solid !important;
}




.hide-quill .masking-quill.focused .ql-toolbar.ql-snow {
    display: block;
    border-radius: 8px 8px 0 0;
    border-top: rgb(126, 126, 126) 1px solid !important;
    border-left: rgb(126, 126, 126) 1px solid !important;
    border-right: rgb(126, 126, 126) 1px solid !important;
}
.quill-error.masking-quill.focused .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0 0;
    border-top: rgb(243, 49, 49) 1px solid !important;
    border-left: rgb(243, 49, 49) 1px solid !important;
    border-right: rgb(243, 49, 49) 1px solid !important;
}



.hide-quill .masking-quill.focused .ql-container.ql-snow {
    border-radius: 0 0 8px 8px;
    border-bottom: rgb(126, 126, 126) 1px solid !important;
    border-left: rgb(126, 126, 126) 1px solid !important;
    border-right: rgb(126, 126, 126) 1px solid !important;
}
.quill-error.masking-quill.focused .ql-container.ql-snow {
    border-radius: 0 0 8px 8px;
    border-top: rgb(243, 49, 49) 1px solid !important;
    border-bottom: rgb(243, 49, 49) 1px solid !important;
    border-left: rgb(243, 49, 49) 1px solid !important;
    border-right: rgb(243, 49, 49) 1px solid !important;
}




.small-quill .loader {
    display: none;
}
.ql-snow .ql-editor pre {
    background-color: rgba(13, 110, 253, 0.6) ! important;
    color: white;
    padding: 5px;
    border-radius: 4px;
}



/* --------------------------------------------------------------
                                 Loader 
-----------------------------------------------------------------*/

.big-loader .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

/* --------------------------------------------------------------
                         Message flash et carte  
-----------------------------------------------------------------*/
.flash-messge-success {
    background-color: rgba(13, 110, 253, 0.6) ! important;
    color: white;
    border: none;
}

.container-grid-css-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-gap: 20px;
}

.mycard {
    box-shadow: 0 0 4px #918f8f;
    max-width: 400px;
}

.small-text {
    font-size: 0.9em;
}

.three-dots {
    font-size: 1.2em;
    align-self: flex-start;
    justify-self: flex-end;
    justify-self: flex-end;
    flex: 1 1 0;
    text-align: end;
}

@media screen and (min-width:372px) and (max-width:572px) {
    .mycard {
        max-width: 400px;
    }
}

@media screen and (min-width:1000px) {
    .container-grid-css-card {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}